.ayuLight {
  --color-background: #FFFFFF;
  --color-foreground: #5C6166;
  --color-aside: #FCFCFC;
  --color-bold: #2E3033;
  --color-border: #5C616620;
  --color-primary: #0081FF;
  --color-primary-border: #0081FF19;
  --color-secondary: #86B300;
  --color-secondary-border: #86B30019;
}

.ayuDark {
  --color-background: #1E2535;
  --color-foreground: #BFBDB6;
  --color-aside: #0D1017;
  --color-bold: #D2D1CC;
  --color-border: #BFBDB620;
  --color-primary: #21A2DC;
  --color-primary-border: #21A2DC19;
  --color-secondary: #AAD94C;
  --color-secondary-border: #AAD94C19;
}

.gruvbox {
  --color-background: #222222;
  --color-foreground: #EBDBB2;
  --color-aside: #282828;
  --color-bold: #F9F5D7;
  --color-border: #EBDBB220;
  --color-primary: #458588;
  --color-primary-border: #45858819;
  --color-secondary: #98971A;
  --color-secondary-border: #98971A19;
}

.catpuccinLight {
  --color-background: #ECEEF3;
  --color-foreground: #4C4F69;
  --color-aside: #EFF1F5;
  --color-bold: #3D3F54;
  --color-border: #4C4F6920;
  --color-primary: #04A5E5;
  --color-primary-border: #04A5E519;
  --color-secondary: #40A02B;
  --color-secondary-border: #40A02B19;
}

.catpuccinDark {
  --color-background: #27273b;
  --color-foreground: #CDD6F4;
  --color-aside: #1E1E2E;
  --color-bold: #D9E0F7;
  --color-border: #CDD6F420;
  --color-primary: #89B4FA;
  --color-primary-border: #89B4FA19;
  --color-secondary: #A6E3A1;
  --color-secondary-border: #A6E3A119;
}

.border-primary {
  border: 2px solid var(--color-primary-border);
  &:hover { border: 2px solid var(--color-primary); }
}

.border-secondary {
  border: 2px solid var(--color-secondary-border);
  &:hover { border: 2px solid var(--color-secondary); }
}
