@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Inconsolata', monospace; }
*::-webkit-scrollbar { width: 0px; }

.topic-overview {
  background-color: #313855;
  color: white;
  min-height: 100vh;
  padding: 4rem;

  article {
    max-width: 50rem;
    margin: 0 auto;
  }
}
