@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ayuLight {
  --color-background: #FFFFFF;
  --color-foreground: #5C6166;
  --color-aside: #FCFCFC;
  --color-bold: #2E3033;
  --color-border: #5C616620;
  --color-primary: #0081FF;
  --color-primary-border: #0081FF19;
  --color-secondary: #86B300;
  --color-secondary-border: #86B30019;
}

.ayuDark {
  --color-background: #1E2535;
  --color-foreground: #BFBDB6;
  --color-aside: #0D1017;
  --color-bold: #D2D1CC;
  --color-border: #BFBDB620;
  --color-primary: #21A2DC;
  --color-primary-border: #21A2DC19;
  --color-secondary: #AAD94C;
  --color-secondary-border: #AAD94C19;
}

.gruvbox {
  --color-background: #222222;
  --color-foreground: #EBDBB2;
  --color-aside: #282828;
  --color-bold: #F9F5D7;
  --color-border: #EBDBB220;
  --color-primary: #458588;
  --color-primary-border: #45858819;
  --color-secondary: #98971A;
  --color-secondary-border: #98971A19;
}

.border-primary {
  border: 2px solid var(--color-primary-border);
  &:hover { border: 2px solid var(--color-primary); }
}

.border-secondary {
  border: 2px solid var(--color-secondary-border);
  &:hover { border: 2px solid var(--color-secondary); }
}

* { font-family: 'IBM Plex Mono', monospace; }
*::-webkit-scrollbar { width: 0px; }

body, main {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--color-bold);
}

aside {
  background-color: var(--color-aside);
  color: var(--color-foreground);
  border-right: 1px solid var(--color-border);
}

.sidebarItem {
  color: var(--color-bold);

  &:hover {
    background-color: var(--color-background);
  }
}

.topic-overview,
.lesson {

  //background-color: #313855;
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
  padding: 4rem 2rem;

  nav {
    color: var(--color-foreground);
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  article {
    max-width: 65ch;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 2rem;
  }

  p {
    color: var(--color-foreground);
    line-height: 1.75;
    padding: 0.5rem 0;
  }

  section {
    padding: 1em 0;
  }
}

.lesson {

  mark {
    background-color: var(--color-primary);
    color: white;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.9em;
  }

  h2, h3 {
    font-weight: 700;
    padding-top: 1rem;
  }

  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }

  ul {
    color: var(--color-foreground);
    margin-left: 2rem;
    list-style-type: disc;

    li {
      line-height: 1.75;
    }
  }

  .codeResult {
    color: var(--color-bold);
    border: 1px solid var(--color-border);

    .consoleText {
      color: var(--color-foreground);
    }
  }
}

.cm-editor {
  padding: 1.5rem 1rem;
  border: 1px solid var(--color-border);
}
.cm-focused {
  outline: 0px solid black !important;
}
